/* src/styles/Contact.css */
.contact {
    padding: 30px;
    text-align: center;
  }
  
  .contact form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .contact input, .contact textarea {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
  }
  
  .contact button {
    background: #FE572E;
    color: white;
    padding: 10px;
    border: none;
  }
  